/* inicio de paginas */

.bg-imgpages{
    width: 3rem;
    border-radius: 30%;
    color: rgb(0, 0, 0);
    display: flex;
}

.background-art{
    
    background-image: url(../pages/imagen/asti-bgone.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 25vh;
    width: 100%;
}